.cards {
  padding: 30px 0;
  margin: 0 auto;
  border-bottom: 1px solid #21212166;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.card__image {
  position: relative;
  width: 100%;
  height: 413px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
  display: block;
  cursor: pointer;
}

.card__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  background: none;
}

.card__title {
  font-size: 20px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}

.card__favorite {
  background-image: url(../images/heart-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  flex: 0 0 23px;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
  border: none;
}

.card__favorite:hover {
  opacity: 1;
}

.card__favorite_active {
  background-image: url(../images/heart-icon-active.svg);
  opacity: 1;
}

.card__favorite_active:hover {
  opacity: 0.4;
}

.card__delete {
  position: absolute;
  background-image: url(../images/delete-icon.svg);
  padding: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
  top: 10px;
  right: 10px;
  border: none;
}

.card__delete:hover {
  background-image: url(../images/delete-hover.svg);
}

/* Tablet layout */
@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 880px;
  }
}

/* Mobile layout */
@media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 20px 0;
  }

  .card {
    width: 288px;
    margin: 0 auto;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}
