.modal {
  margin: 0 auto;
  padding: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(33, 33, 33, 0.8);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  width: 100%;
  max-width: 730px;
  height: auto;
  max-height: 430px;
  margin: 0 10px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.modal__exit {
  background-image: url(../images/close-icon.svg);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  z-index: 5;
}

.modal__exit:hover {
  opacity: 1;
}

.modal__exit_type_preview {
  background-image: url(../images/close-icon-white.svg);
  position: absolute;
  top: 0;
  right: -40px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  opacity: 1;
  z-index: 5;
}

.modal__exit_type_preview:hover {
  opacity: 0.4;
}

.modal__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.modal__input {
  width: 100%;
  height: 100%;
  margin: 0 0 32px;
  padding: 16px 0 16px 12px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__button {
  background-color: rgba(33, 33, 33, 1);
  border: 0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 157px;
  height: 52px;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  object-fit: contain;
  background: none;
  border-radius: 8px;
}

.modal__caption {
  margin-bottom: 0;
  color: #fff;
  background-color: rgba(33, 33, 33, 1);
  background-size: auto;
  border-radius: 8px;
  font-size: 20px;
  padding: 4px 8px;
  width: fit-content;
}

@media screen and (max-width: 880px) {
  .modal__caption {
    font-size: 16px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__button {
    width: 100%;
    max-width: none;
  }
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 80vh;
  }

  .modal__content-preview {
    width: 282px;
  }

  .modal__exit_type_preview {
    position: absolute;
    top: -40px;
    right: 0;
  }
}
