.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
}

@media screen and (max-width: 880px) {
  .content {
    max-width: 880px;
  }
}
