.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21212166;
  padding: 30px 0;
}

.profile__user-image {
  width: 100%;
  max-width: 190px;
  height: 190px;
  margin: 0 auto;
  border-radius: 16px;
}

.profile__user-column {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile__user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
}

.profile__user-name {
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  padding: 0;
  margin: 0 0 5px 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__user-description {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__actions {
  display: flex;
  align-items: flex-end;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #212121;
  opacity: 0.7;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__new-post {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.profile__new-post_button {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 157px;
  height: 52px;
  margin: 0 auto;
  padding: 18px 32px;
  color: #fcf5e5;
  background-color: #212121;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
}

.profile__new-post_button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 880px) {
  .profile {
    justify-content: center;
    flex-direction: column;
    max-width: 880px;
  }

  .profile__user-column {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .profile__user-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .profile__user-container {
    max-width: 100%;
  }

  .profile__user-name {
    font-size: 24px;
  }

  .profile__actions {
    justify-content: center;
    margin: 20px 0 10px;
  }

  .profile__edit-button {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
